<%- include('partials/header') %>
<h1>Career Mate - Home</h1>
<h2>Hello <span id="username"></span></h2>
<div id="firebaseui-auth-container"></div>
<div id="send-to-messenger-container"></div>
<%- include('partials/footer') %>