
<script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCW3ah1tlAOC9SGvBe2bHGFJ-ZoH2k1HNc",
    authDomain: "careermate.firebaseapp.com",
    databaseURL: "https://careermate.firebaseio.com",
    storageBucket: "firebase-careermate.appspot.com",
  };
  firebase.initializeApp(config);
  var database = firebase.database();
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/live/0.4/firebase-ui-auth.js"></script>
<script src="/script.js"></script>    
</body>
<footer class="footer">
    <p>&copy; 2016 Gamimato team.</p>
</footer>
</html>