<!DOCTYPE html>
<head>
    <title>Career Mate</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css">
    
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.4/firebase-ui-auth.css" />
</head>
<body>
    <div id="sign-in-status"></div>
    <div id="sign-in"></div>
    <div id="account-details"></div>
